/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
:root {
   --ifm-font-family-base: 'Mulish', sans-serif;

  --ifm-color-primary: hsl(192, 100%, 39%);
  --ifm-color-primary-dark: hsl(192, 100%, 33%);
  --ifm-color-primary-darker: hsl(192, 100%, 28%);
  --ifm-color-primary-darkest: hsl(192, 100%, 23%);
  --ifm-color-primary-light: hsl(192, 100%, 45%);
  --ifm-color-primary-lighter: hsl(192, 100%, 50%);
  --ifm-color-primary-lightest: hsl(192, 100%, 55%);
  --ifm-code-font-size: 95%;

  --ifm-color-success: #80c41c;
  --ifm-color-important: #00a0c6;
  --ifm-color-warning: #fea621;
  --ifm-color-danger: #f4136b;
}

.docusaurus-highlight-code-line {
  background-color: rgb(33, 50, 71);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: x-large;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.hero__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
